* {
  --social-icon-size: 50px;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  min-height: 300px;
  background-color: var(--glass-color);
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5;
  margin-top: 20px;

  /* box shadow on top */
  box-shadow: 0 -10px 10px -10px rgba(0, 0, 0, 0.5);
}

footer #footer-content {
  width: 100%;
}

footer #footer-content #footer-social {
  position: absolute;
  top: calc(-1 * var(--social-icon-size) / 2);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

footer #footer-content #footer-social .footer-social-icon {
  width: auto;
  height: var(--social-icon-size);
  max-height: 100px;
}

footer #footer-content #footer-social .footer-social-icon .footer-icon .footer-svg {
  /* align to top */
  height: var(--social-icon-size);
  vertical-align: top;
}

footer #footer-content #footer-social .footer-social-icon .footer-icon .footer-svg svg {
  /* align to top */
  height: var(--social-icon-size);
  vertical-align: top;
  fill: #fff;
}

footer #footer-content #footer-social .footer-social-icon .footer-icon .footer-svg:hover svg path {
  fill: var(--menu-item-color);
  animation: bounce 0.5s ease;
}

footer #footer-content #footer-social .footer-social-icon a {
  height: var(--social-icon-size);
}

footer #footer-content #footer-logo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

footer #footer-content #footer-logo svg {
  height: 150px;
  fill: white;
  stroke: white;
  transition: 0.2s ease-in-out;
}

footer #footer-content #footer-logo svg:hover {
  stroke: var(--menu-item-color);
}

footer #footer-content #footer-legal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

footer #footer-content #footer-admin-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

footer #footer-content #footer-admin-login a {
  color: #fff;
  text-decoration: none;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
