/* Generated: 2021-10-20T15:00:00+00:00 */
/* Argsea - new-develop.css */

/* CSS Document */

/****************************************************
 *                                                  *
 *                  VARIABLES                       *
 *                                                  *
****************************************************/
:root {
  --background: #f8f8f8;
  --dark: #303032;
  --nav-height: 50px;
  --menu-item-color: #3671cb;
  --highligh-color: #5c9ddf;
  --name-color: rgb(107, 132, 255);
  --burger-anim-2-delay: 0.5s;
  --burger-anim-1-len: 1s;
  --burger-anim-2-len: 1s;
  --burger-line-top-offset: 0;
  --burger-line-mid-offset: 20;
  --burger-line-bot-offset: 0;
  --burger-line-offset: 0;
  --burger-dashoffset: 79.9;
  --bio-bg1: "/argsea_home1.png";
  --gradient-color: #032e58;
  --gradient-color2: #3671cb;
  --dropshadow-color: #000;
  --glass-color: rgba(255, 255, 255, 0.1);
  --nav-active-color: rgb(192, 121, 203);
  --link-color: rgb(169, 130, 251);
  --link-final-color: rgb(101, 67, 173);
}

/****************************************************
 *                                                  *
 *                  ROOT STYLES                     *
 *                                                  *
****************************************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

*, html {
  scroll-behavior: smooth !important;
}

html::-webkit-scrollbar {
  width: 0 !important;
}

body {
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #19334d 0%, #010314 100%);
  font-family: "Roboto", sans-serif;
}

#root {
  min-height: 100%;
  position: relative;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

/****************************************************
 *                                                  *
 *                      HERO                        *
 *                                                  *
****************************************************/

#starStuff {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

#abscanvas {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height:100vh;
  height:100vh;
  width: 100vw;
  z-index: -1;
}

#introcanvas {
  min-width: 100vw;
  min-height:100vh;
  height:100vh;
  width: 100vw;
}

#hero {
  position: relative;
  min-height: 100vh;
  height: 100vh;
  min-width:100vw;
  width: 100vw;
  overflow: hidden;
  justify-content: center;
}

#bio_wrap {
  display:flex;
  height:100vh;
  width:100vw;
  align-items: center;
  justify-content: center;
}

#hero_bio {
  margin-top:15vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color:white;
  min-height: calc(100vh - 15vh);
  height: calc(100vh - 15vh);
}

#hero_bio_intro {
  font-size: 2.0rem;
  display:none;
}

#hero_bio_name {
  color: #fff;
  font-size: 2rem;
  margin-left:10px;
}

#hero_three_name {
  width:100%;
  height:100%;
  top:12vh;
  position:absolute;
}

#hero_bio_title {
  color: #bbb;
  font-size: 1.9rem;
  margin-top:13vh;
  display:none;
}

#hero_bio_titleHighlight {
  color: var(--highligh-color);
  font-size: 1.9rem;
}

#hero_down_arrow_container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 80vh;
  z-index: 1;
}

#hero_down_arrow_container svg {
  /* fill: rgba(255, 255, 255, 0.1); */
  fill: none;
  display: block;
  margin: 0 auto;
  /* stroke: rgba(233, 133, 241, 1); */
  stroke: white;
  stroke-width: 20px;
  stroke-dasharray: 25;
  stroke-linejoin: round;
  stroke-linecap: butt;
}

#hero_down_arrow_container svg:hover {
  transform: scale(1.15);
  animation: arrow-effect 3.5s infinite;
}

#hero #background_container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0));
}

#hero #hero_background {
  background-size: cover;
  min-height: 95vh;
  min-width: 100vw;
}

/****************************************************
 *                                                  *
 *                     HEADER                       *
 *                                                  *
****************************************************/

header {
  position: sticky;
  display: flex;
  top: 0;
  width: 100%;
  z-index: 300;
  /* glassy looking */
  background: var(--glass-color); /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, var(--glass-color), var(--glass-color)); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, var(--glass-color), var(--glass-color)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* glassy looking */
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  vertical-align: middle;
  justify-content: center;
  height: var(--nav-height);
}

nav {
  display: flex;
  height: var(--nav-height);
  width: 100%;
  height: 100%;
}

#navBar {
  display: flex;
  flex-direction: right;
  gap: 30px;
  justify-content: right;
  margin-right: 100px;
  margin-left:auto;
}

.navItem {
  text-align: center;
  font-size: 1.0rem;
  margin: auto;
}

.navItem a {
  text-decoration: none;
  color: var(--highligh-color);
}

.navItem a:hover {
  color: var(--menu-item-color);
}

/* change color when .navItem is selected */
.navItem.active a {
  color: var(--nav-active-color);
}

#logo {
  scale: 0.8;
  flex-direction: left;
  margin-right: auto;
  color: white;
  cursor: pointer;
  margin: auto 0 auto 40px;
}

#logo a {
  color: var(--highligh-color);
}

#hamburger {
  display: none;
  flex-direction: right;
  margin-left: auto;
  color: white;
  cursor: pointer;
  margin: auto 20px auto auto;
}

#hamburger svg line {
  stroke: var(--highligh-color);
  stroke-width: 5;
  stroke-linecap: round;
  stroke-dasharray: 80;
  stroke-dashoffset: 0;
}

#hamburger #line-top {
  stroke-dashoffset: var(--burger-line-top-offset);
}

#hamburger #line-mid {
  stroke-dashoffset: var(--burger-line-mid-offset);
}

#hamburger #line-bottom {
  stroke-dashoffset: var(--burger-line-bot-offset);
}

#hamburger[aria-expanded="false"] #line-top {
  --burger-line-offset: var(--burger-line-top-offset);
  animation: burger-close var(--burger-anim-1-len) forwards;
}

#hamburger[aria-expanded="false"] #line-mid {
  --burger-line-offset: var(--burger-line-mid-offset);
  animation: burger-close var(--burger-anim-1-len) forwards;
}

#hamburger[aria-expanded="false"] #line-bottom {
  --burger-line-offset: var(--burger-line-bot-offset);
  animation: burger-close var(--burger-anim-1-len) forwards;
}

#hamburger[aria-expanded="true"] #line-top {
  --burger-line-offset: var(--burger-line-top-offset);
  animation: burger-open var(--burger-anim-2-len) forwards;
  transform-origin: center;
}

#hamburger[aria-expanded="true"] #line-mid {
  --burger-line-offset: var(--burger-line-mid-offset);
  animation: burger-open var(--burger-anim-2-len) forwards;
  transform-origin: center;
}

#hamburger[aria-expanded="true"] #line-bottom {
  --burger-line-offset: var(--burger-line-bot-offset);
  animation: burger-open var(--burger-anim-2-len) forwards;
  transform-origin: center;
}

/****************************************************
 *                                                  *
 *                     CONTENT                      *
 *                                                  *
****************************************************/

/* make all sections without an id=hero */
section:not(#hero) {
  padding-top:50px;
  margin-bottom: 200px;
}

#content {
  position: relative;
  padding-top: var(--nav-height);
  width: 50%;
  margin: auto;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  line-height: 1.5;
}

#aboutme {
  padding-top:var(--nav-height);
  color: #abc;
}

#aboutme {
  display: block;
  justify-content: center;
  text-align: left;
  min-height: auto;
  position: relative;
}

#aboutme li {
  margin-bottom: 10px;
  /* indent the bullets */
  list-style-position: inside;
  text-indent: 1em;
}

#aboutme canvas {
  max-height: 100px;
  width: 100%;
}

/* set #aboutme_info #aboutme_text to the left and #aboutme_info #aboutme_tech_interests to the right */
#aboutme_info {
  align-items: center;
  width: 75%;
  margin: 50px auto 0px auto;
}

#aboutme_info #welcome {
  display: flex;
  flex-direction: row;
  justify-content:left;
  align-items: center;
  width: 100%;
}

#aboutme_info #aboutme_text {
  width: 100%;
  margin-right: 50px;
  display: block;
}

/* do a sliding underline under links using keyframes */
#aboutme_info #aboutme_text a {
  position: relative;
  text-decoration: none;
  display: inline-block;
}

#aboutme_info #aboutme_text a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  z-index: -1;
  /* horizontal gradient */
  background: linear-gradient(to right, var(--link-color), var(--menu-item-color));
  visibility: hidden;
  transform: scaleX(1);
  /* fancy slide under */
  transform-origin: bottom left;
  transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1.0), visibility 0.3s cubic-bezier(0.77, 0.2, 0.05, 1.0);

  /* change background multiple times during slide under */
  animation: slideUnderReverse 0.3s ease-in-out;
}

#aboutme_info #aboutme_text a:hover::after {
  visibility: visible;
  transform: scaleX(1);
  transform-origin: bottom left;

  /* fancy slide under */
  transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1.0), visibility 0.3s cubic-bezier(0.77, 0.2, 0.05, 1.0);

  /* change background multiple times during slide under */
  animation: slideUnder 0.3s ease-in-out;
}

#aboutme_info #aboutme_interests {
  width: 100%;
  margin-left: 50px;
  display: block;
}

#aboutme_info #welcome_text {
  font-size: 1.5rem;
  margin-bottom:25px;
}

#aboutme_info #welcome_text #big_welcome {
  font-size: 2.5rem;
}

#aboutme_info #welcome_text #colored_name {
  color: var(--name-color);
  font-size: 2.0rem;
}

.fadedOut {
  opacity: 0;
}

.fadedIn {
  opacity: 1;
  
  /* fancy fade in */
  animation: fadeIn 0.75s ease-in-out;
}







/****************************************************
 *                                                  *
 *                  ANIMATIONS                      *
 *                                                  *
****************************************************/

@keyframes arrow-effect {
  0% {
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dashoffset: 100;
  }

  75% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes burger-open {
  0% {
    stroke-dashoffset: var(--burger-line-offset);
  }
  40% {
    stroke-dashoffset: var(--burger-dashoffset);
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes burger-close {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: var(--burger-dashoffset);
  }
  100% {
    stroke-dashoffset: var(--burger-line-offset);
  }
}

/* fancy fade in */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* fancy slide under */
@keyframes slideUnder {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

/* reverse slideUnder */
@keyframes slideUnderReverse {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

/****************************************************
 *                                                  *
 *                  MEDIA QUERIES                   *
 *                                                  *
****************************************************/

@media screen and (max-width: 768px) {
  #navBar {
    display: none;
  }
  #hamburger {
    display: flex;
  }

  #logo {
    margin-left: 20px;
    scale: 1.0;

  }
}