/* Generated: 2021-10-20T15:00:00+00:00 */
/* Argsea - new-develop.css */

/* CSS Document */

/****************************************************
 *                                                  *
 *                  VARIABLES                       *
 *                                                  *
****************************************************/
:root {
  --background: #f8f8f8;
  --dark: #303032;
  --nav-height: 60px;
  --menu-item-color: #3671cb;
  --highligh-color: #5c9ddf;
  --name-color: rgb(107, 132, 255);
  --burger-anim-2-delay: 0.5s;
  --burger-anim-1-len: 0.5s;
  --burger-anim-2-len: 0.5s;
  --burger-line-top-offset: 0;
  --burger-line-mid-offset: 20;
  --burger-line-bot-offset: 0;
  --burger-line-offset: 0;
  --burger-dashoffset: 79.9;
  --bio-bg1: "/argsea_home1.png";
  --gradient-color: #032e58;
  --gradient-color2: #3671cb;
  --dropshadow-color: #000;
  --glass-color: rgba(255, 255, 255, 0.1);
  --glass-color-gone: rgba(255, 255, 255, 0.01);
  --glass-color2: rgb(34, 44, 59);
  --nav-active-color: rgb(192, 121, 203);
  --link-color: rgb(169, 130, 251);
  --link-final-color: rgb(101, 67, 173);
}

/****************************************************
 *                                                  *
 *                  ROOT STYLES                     *
 *                                                  *
****************************************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  overflow: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

*,
html {
  scroll-behavior: smooth !important;
}

html::-webkit-scrollbar {
  width: 0 !important;
}

body {
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #19334d 0%, #010314 100%);
  font-family: "Roboto", sans-serif;
}

body.overflow-hidden {
  overflow: hidden;
}

#root {
  min-height: 100vh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

a {
  text-decoration: none;
  color: var(--link-color);
}

section {
  width: 100%;
}
