:root {
  --background: #f8f8f8;
  --dark: #303032;
  --nav-height: 50px;
  --menu-item-color: #3671cb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  width: 0 !important;
}

body {
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #19334d 0%, #010314 100%);
  font-family: "Roboto", sans-serif;
}

section {
  min-height: 100vh;
  height: 100vh;
}

header {
  padding-top: 15px;
  margin-bottom: 0;
  /* position: fixed; */
  position: sticky;
  display: flex;
  top: 0;
  width: 100%;
}

nav {
  display: flex;
  height: var(--nav-height);
  width: 100%;
}

#content {
  margin-left: 50px;
  margin-right: 50px;
}

#navBar {
  display: none;
  width: 100%;
  gap: 10px;
  justify-content: center;
  background-color: #1d3c63;
}

.navItem {
  padding-top: 10px;
  border-radius: 20%;
  flex: 2 1 auto;
  text-align: center;
  background-color: #303032;
}

.navItem a {
  text-decoration: none;
  color: white;
}

#logo {
  flex-direction: left;
  margin-right: auto;
  color: white;
  padding-left: 20px;
  cursor: pointer;
}

#logo a {
  color: var(--menu-item-color);
}

#hamburger {
  flex-direction: right;
  margin-left: auto;
  color: white;
  padding-right: 20px;
  cursor: pointer;
}

#hamburger svg {
  border: 1px solid white;
  fill: white;
}

#hamburger svg line {
  stroke: var(--menu-item-color);
  stroke-width: 10;
  stroke-linecap: round;
}

#bio {
  display: block;
  justify-content: center;
  text-align: left;
  color: #5c9ddf;
  padding-top: calc(var(--nav-height) + 30px);
  min-height: auto;
}

#intro {
  padding-bottom: 15px;
  font-size: 1.2rem;
}

#name {
  color: #fff;
  font-size: 2.3rem;
  margin-bottom: 15px;
}

#title {
  color: #bbb;
  font-size: 1.8rem;
  margin-bottom: 15px;
}

#titleHighlight {
  color: #5c9ddf;
  font-size: 1.9rem;
}

#basicme {
  color: #abc;
  font-size: 1rem;
}

#picture {
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  position: relative;
  border-radius: 100%;
  border: 5px #5c9ddf;
  border-style: ridge;
  justify-content: center;
  margin: auto;
}

#picture img {
  width: 75rem;
  position: absolute;
  top: -130%;
  left: -130%;
}

#aboutme {
  color: #abc;
}
