/****************************************************
 *                                                  *
 *                      HERO                        *
 *                                                  *
****************************************************/

#starStuff {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#introcanvas {
  min-width: 100vw;
  min-height: 100vh;
  min-width: 100svw;
  min-height: 100svh;
  height: 100svh;
  width: 100svw;
}

#hero {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  height: 100vh;
  width: 100vw;
  min-height: 100svh;
  height: 100svh;
  min-width: 100svw;
  width: 100svw;
  overflow: hidden;
  justify-content: center;
}

.hero_title_container {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero_title {
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#hero_title h1 {
  position: relative;
  z-index: 1;

  text-shadow: 2px 4px 10px rgba(13, 106, 237, 0.5);
  will-change: contents, width;

  /* make the text look old dos style */
  font-family: JetBrainsMono-Regular, monospace;
  letter-spacing: 0.1em;

  /* responsize font-size */
  font-size: clamp(1rem, 6vw, 14rem);
  color: rgba(255, 255, 255, 0.8);
  padding: 30px;
}

#hero_title h1::after,
#hero_title h1::before {
  content: attr(data-gw-string);
  position: absolute;
  top: 0;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  padding: 30px;
  overflow: hidden;
  white-space: nowrap;
  color: white;

  will-change: contents, width;
}

#hero_title h1::before {
  left: 1px;
  text-shadow: -2px 0 var(--link-color);
  animation: glitch-animation-2 2s steps(20, end) infinite alternate-reverse;
  z-index: -1;
  color: var(--link-color);
}

#hero_title h1::after {
  left: -1px;
  text-shadow: -2px 0 var(--menu-item-color);
  animation: glitch-animation-1 1.5s steps(20, end) infinite alternate-reverse;
}

#hero_title h1.gw-writing {
  animation: glitch-skew 1s steps(10, end) infinite alternate-reverse;
}

#hero_title h1.gw-writing::after,
#hero_title h1.gw-writing::before {
  opacity: 1;
}

#hero_title h1.gw-writing .gw-ghosts,
#hero_title h1.gw-writing .gw-glitched {
  opacity: 0.6;
  animation: glitch-blink 1s steps(20, end) infinite alternate-reverse;
}

#bio_wrap {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

#hero_bio {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: white;
  min-height: calc(100vh - 15vh);
  height: calc(100vh - 15vh);
}

#hero_bio_intro {
  font-size: 2rem;
  display: none;
}

#hero_bio_name {
  color: #fff;
  font-size: 2rem;
  margin-left: 10px;
}

#hero_three_name {
  width: 100%;
  height: 100%;
  top: 12vh;
  position: absolute;
}

#hero_bio_title {
  color: #bbb;
  font-size: 1.9rem;
  margin-top: 13vh;
  display: none;
}

#hero_bio_titleHighlight {
  color: var(--highligh-color);
  font-size: 1.9rem;
}

#hero_down_arrow_container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 80vh;
  z-index: 1;
}

#hero_down_arrow_container svg {
  /* fill: rgba(255, 255, 255, 0.1); */
  fill: none;
  display: block;
  margin: 0 auto;
  /* stroke: rgba(233, 133, 241, 1); */
  stroke: white;
  stroke-width: 20px;
  stroke-dasharray: 25;
  stroke-linejoin: round;
  stroke-linecap: butt;
}

#hero_down_arrow_container svg:hover {
  transform: scale(1.15);
  animation: arrow-effect 3.5s infinite;
}

#hero #background_container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0));
}

#hero #hero_background {
  background-image: image-set(var(--bg1) 1x, var(--bg2) 2x);
  background-image: -webkit-image-set(var(--bg1) 1x, var(--bg2) 2x);
  background-size: cover;
  min-height: 95vh;
  min-width: 100vw;
  background-attachment: fixed;
}

@media screen and (max-width: 768px) {
  #hero #hero_background {
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 30%;
  }

  #hero_bio {
    margin-top: 0;
    min-height: 100vh;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
  }
}
