#abscanvas {
  position: fixed;
  top: 0;
  left: 0;
  /* fallback */
  min-width: 100vw;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  min-width: 100svw;
  min-height: 100svh;
  height: 100svh;
  width: 100svw;
  z-index: -1;
}

/****************************************************
   *                                                  *
   *                     CONTENT                      *
   *                                                  *
  ****************************************************/

/* BEGIN: content */
#content {
  padding-top: var(--nav-height);
  max-width: 1024px;
  width: 100%;
  margin-inline: auto;
  z-index: 1;
  font-size: 1.3rem;
  line-height: 1.5;
  padding-bottom: 300px;
}

/* BEGIN: aboutme base styles */
#aboutme {
  display: block;
  justify-content: center;
  text-align: left;
  min-height: auto;
  position: relative;
  margin-top: 30px;
  padding-top: var(--nav-height);
  color: #fff;
}

@media screen and (max-width: 960px) {
  #aboutme {
    margin-top: 0;
    font-size: 1rem;
  }
}

#aboutme ul {
  margin-bottom: 10px;
}

#aboutme ul li {
  /* margin-bottom: 10px; */
  list-style-position: inside;

  /* indent multi-line text */
  text-indent: -1rem;
  padding-left: 2rem;
}

#aboutme ul li::marker {
  color: var(--link-color);
}

#aboutme ul li:hover::marker {
  color: var(--menu-item-color);
}

#aboutme ul li p {
  display: inline;
}

#aboutme p {
  margin-bottom: 10px;
}

/* BEGIN: aboutme-header styles */
#aboutme-header {
  position: absolute;
  top: calc(0px - clamp(-25px, 10vw, 100px));
  right: 0;
  z-index: -1;
}

#aboutme-header-text {
  --link-color: rgba(149, 110, 231, 1);
  --menu-item-color: rgba(34, 93, 183, 1);
  display: inline-block;
  margin: 0;
  padding: 0;
  /* opacity: 0.08; */
  z-index: -1;
  vertical-align: bottom;
  text-align: right;
  line-height: 0.8;

  background: linear-gradient(to right, var(--link-color), var(--menu-item-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

  font-size: clamp(3rem, 15vw, 14rem);

  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.75));
}

/* BEGIN: aboutme_info styles */
#aboutme_info #welcome {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 100%;
}

#aboutme_text {
  /* --glass-color: rgba(5, 5, 5, 0.2); */
  /* glass background */
  background: var(--glass-color);
  background: -webkit-linear-gradient(to right, var(--glass-color), var(--glass-color));
  background: linear-gradient(to right, var(--glass-color), var(--glass-color));
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 50px 50px;
  z-index: 1;
  border-radius: 15px;

  /* drop shadow to add 3d */
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  z-index: 1;
}

#aboutme_text a {
  position: relative;
  text-decoration: none;
  display: inline-block;
}

#aboutme_text a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  z-index: -1;
  /* horizontal gradient */
  background: linear-gradient(to right, var(--link-color), var(--menu-item-color));
  visibility: hidden;
  transform: scaleX(1);
  /* fancy slide under */
  transform-origin: bottom left;
  transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1), visibility 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);

  /* change background multiple times during slide under */
  animation: slideUnderReverse 0.3s ease-in-out;
}

#aboutme_text a:hover::after {
  visibility: visible;
  transform: scaleX(1);
  transform-origin: bottom left;

  /* fancy slide under */
  transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1), visibility 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);

  /* change background multiple times during slide under */
  animation: slideUnder 0.3s ease-in-out;
}

#welcome_text {
  font-size: 1.5rem;
  margin-bottom: 25px;
}

#welcome_text #big_welcome {
  font-size: 2.5rem;
}

#welcome_text #colored_name {
  color: var(--name-color);
  font-size: 2rem;
}

#aboutme_text #call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#aboutme_text #call-to-action #call-to-action-button {
  background: linear-gradient(to right, var(--link-color), var(--menu-item-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-size: 1.6rem;
  cursor: pointer;
  padding: 20px 50px;
  border: none;
  position: relative;
}

#aboutme_text #call-to-action #call-to-action-button::after {
  content: "";
  position: absolute;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  bottom: 0;
  left: 0;

  /* border gradient */
  border: 2px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to right, var(--link-color), var(--menu-item-color));
}

#aboutme_text #radar-animation-1 {
  animation-name: radar;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

#aboutme_text #radar-animation-1::before,
#aboutme_text #radar-animation-1::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  /* border gradient */
  border: 2px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to right, var(--link-color), var(--menu-item-color));
  opacity: 0;
  filter: blur(2px);
  z-index: 1;

  animation-name: radar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0.4s;
}

#aboutme_text #radar-animation-1::after {
  animation-name: radar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0.8s;
}

.fadedOut {
  opacity: 0;
}

.fadedIn {
  opacity: 1;

  /* fancy fade in */
  animation: fadeIn 0.3s ease-in-out;
}

/****************************************************
   *                                                  *
   *                  ANIMATIONS                      *
   *                                                  *
  ****************************************************/

@keyframes arrow-effect {
  0% {
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dashoffset: 100;
  }

  75% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes burger-open {
  0% {
    stroke-dashoffset: var(--burger-line-offset);
  }
  40% {
    stroke-dashoffset: var(--burger-dashoffset);
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes burger-close {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: var(--burger-dashoffset);
  }
  100% {
    stroke-dashoffset: var(--burger-line-offset);
  }
}

/* fancy fade in */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* fancy slide under */
@keyframes slideUnder {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

/* reverse slideUnder */
@keyframes slideUnderReverse {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

/* fancy radar animation */
@keyframes radar {
  0% {
    opacity: 0.5;
    transform: scale(1.1);
  }

  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}

/* fancy aurora animation */
@keyframes aurora {
  0% {
    opacity: 0.5;
    transform: scale(1.1);
  }

  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}
