/* vars */
:root {
  --project-card-title-underline-gradient-color1: rgb(169, 130, 251);
  --project-card-title-underline-gradient-color2: rgb(134, 103, 199);
  --project-card-title-underline-gradient-color3: rgb(99, 76, 147);
}

/* do a fancy card based presentation of projects */
/* make the cards large, and partially off screen alternating between left and right */
.project-card {
  position: relative;
  width: var(--card-width);
  height: var(--card-height);
  /* overflow: hidden; */
  transition: all 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr;
  grid-template-areas: "project-tag-list" "project-details";
}

.project-card .project-details {
  height: 100%;
  width: 100%;
  padding: 10px;
  color: white;
  position: relative;
  transform: translateY(90%);
  background: linear-gradient(to bottom, rgb(22, 34, 53, 0.8), rgb(22, 34, 53, 0.8)), var(--glass-color);
  transition: transform 300ms ease-in-out;
}

.project-card:hover .project-details {
  transform: translateY(50%);
  transition-delay: 300ms;
}

.project-card .project-details .project-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
}

.project-card .project-details .project-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  transition: transform 300ms ease-in-out;
  background: linear-gradient(
    to right,
    var(--project-card-title-underline-gradient-color1),
    var(--project-card-title-underline-gradient-color2),
    var(--project-card-title-underline-gradient-color3)
  );
  transform: scaleX(0);
  transform-origin: left;
}

.project-card:hover .project-details .project-title::after {
  transform: scaleX(1);
}

.project-card .project-tag-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 50px;
  color: white;
  background: var(--glass-color2);
  gap: 15px;
}

.project-card .project-tag-list .tag {
  padding: 5px;
  border-radius: 5px;
  width: 100px;
  background: var(--glass-color);
}
