/* a fun button */
#admin-projects-add-new-project-button {
  width: 125px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background: var(--name-color);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;

  /* center text */
  display: flex;
  justify-content: center;
  align-items: center;
}

#admin-projects-add-new-project-button:hover {
  background: var(--link-final-color);
}

#admin-projects-add-new-project-button-plus {
  font-size: 1.2rem;
  margin-right: 5px;
}

#admin-projects-table {
  width: 100%;
  border-spacing: 0 10px;
  /* border: 1px solid var(--glass-color); */
  margin-top: 25px;
}

/* make a nice table with hover effects on the headings */
#admin-projects-table thead tr th {
  /* padding: 10px; */
  /* border: 1px solid var(--glass-color); */
  /* background: var(--glass-color); */
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  text-align: left;
}

#admin-projects-table thead tr th:hover {
  color: var(--menu-item-color);
}

#admin-projects-table thead tr th:active {
  background: var(--menu-item-color);
}

#admin-projects-table thead tr th:focus {
  outline: none;
}

#admin-projects-table tbody tr td {
  padding: 10px;
  /* border: 1px solid var(--glass-color); */
  background: var(--glass-color);
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

#admin-projects-table tbody tr td:hover {
  background: var(--menu-item-color);
}
