/****************************************************
   *                                                  *
   *                     HEADER                       *
   *                                                  *
  ****************************************************/

header {
  position: sticky;
  display: flex;
  top: 0;
  width: 100%;
  z-index: 300;
  vertical-align: middle;
  justify-content: center;
  height: var(--nav-height);
}

#main-nav {
  position: relative;
  display: flex;
  height: var(--nav-height);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;

  /* glassy looking */
  background: var(--glass-color); /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, var(--glass-color-gone) 10%, var(--glass-color) 80%, var(--glass-color-gone)); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    var(--glass-color-gone),
    15%,
    var(--glass-color),
    85%,
    var(--glass-color-gone)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

#logo {
  flex-direction: left;
  margin-right: auto;
  color: white;
  cursor: pointer;
  margin: auto 0px auto 30px;

  /* border: 1px solid var(--highligh-color); */
  border-radius: 30%;
  overflow: hidden;
}

#logo svg {
  height: 50px;
  vertical-align: middle;
  transition: all 0.3s ease-in-out;
  stroke: var(--highligh-color);
  fill-opacity: 0%;
  stroke-width: 10px;
  fill-rule: nonzero;
  /* animation: fun-svg-figit 2s infinite ease-in-out; */
}

#logo svg path {
  width: 100%;
  height: 100%;
}

#logo svg #logo-1 {
  stroke: var(--aurora-color-1) !important;
  fill: black;
  stroke-width: 1px;
  fill-opacity: 100;
}

#logo svg #logo-2 {
  stroke: rgba(59, 67, 120, 1);
  fill: var(--aurora-color-2) !important;
  stroke-width: 7px;
  fill-opacity: 0 !important;

  stroke-dasharray: 500;
  stroke-linecap: round;
  stroke-dashoffset: 250;

  transition: all 0.5s ease-in-out;
  animation: move-logo-2 10s infinite ease-in-out;
}

@keyframes move-logo-2 {
  0% {
    stroke-dashoffset: 250;
  }

  33% {
    stroke-dashoffset: 500;
  }

  66% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 250;
  }
}

#logo:hover svg #logo-2 {
  stroke: rgb(182, 124, 198);
}

#logo svg #logo-3 {
  stroke: rgba(51, 64, 115, 1);
  /* fill: rgba(93, 43, 192, 0.8); */
  stroke-width: 7px;
  fill-opacity: 0% !important;

  /* stroke-dasharray: 500;
  stroke-dashoffset: 500; */
  stroke-dasharray: 1000;
  stroke-linecap: round;
  stroke-dashoffset: 500;

  transition: all 0.5s ease-in-out;
  animation: move-logo-3 10s infinite ease-in-out;
}

@keyframes move-logo-3 {
  0% {
    stroke-dashoffset: 500;
  }

  33% {
    stroke-dashoffset: 1000;
  }

  66% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 500;
  }
}

#logo:hover svg #logo-3 {
  stroke: rgb(137, 126, 231);
}

#logo svg #logo-4 {
  stroke: rgba(38, 59, 106, 1);
  fill: rgba(50, 43, 192, 0.8);
  stroke-width: 7px;
  fill-opacity: 0 !important;

  /* stroke-dasharray: 500;
  stroke-dashoffset: -250; */
  stroke-dasharray: 1000;
  stroke-linecap: round;
  stroke-dashoffset: 250;

  transition: all 0.5s ease-in-out;
  animation: move-logo-4 10s infinite ease-in-out;
}

@keyframes move-logo-4 {
  0% {
    stroke-dashoffset: 250;
  }

  33% {
    stroke-dashoffset: 1000;
  }

  66% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 250;
  }
}

#logo:hover svg #logo-4 {
  stroke: rgb(70, 112, 197);
}

#logo svg #logo-5 {
  stroke: var(--highligh-color);
  fill: var(--highligh-color);
  stroke-width: 5px;
  fill-opacity: 100%;

  animation: pulse-stroke 5s infinite ease-in-out;
}

#logo svg #logo-6 {
  stroke: var(--highligh-color) !important;
  fill: var(--highligh-color) !important;
  stroke-width: 5px;
  fill-opacity: 100%;
}

#logo a {
  color: var(--highligh-color);
}
/* center #user-welcome in the middle of the nav bar */
#user-welcome {
  display: flex;
  flex-direction: right;
  margin-left: auto;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

#navBar {
  display: flex;
  flex-direction: right;
  gap: 50px;
  justify-content: right;
  margin-right: 50px;
  margin-left: auto;
}

.navItem {
  position: relative;
  text-align: center;
  font-size: 1.5rem;
  margin: auto;
}

.navItem a::before {
  content: attr(data-text);
  position: absolute;
  color: var(--menu-item-color);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 0;
  overflow: hidden;

  transition: all 0.3s ease-in-out;
}

.navItem:hover a::before {
  width: 100%;
}

.navItem.active a::before {
  width: 100%;
  color: var(--nav-active-color);
}

.navItem a {
  text-decoration: none;
  color: var(--highligh-color);
}

/* .navItem a:hover {
  color: var(--menu-item-color);
} */

/* change color when .navItem is selected */
/* .navItem.active a {
  color: var(--nav-active-color);
} */

#hamburger {
  display: none;
  flex-direction: right;
  margin-left: auto;
  color: white;
  cursor: pointer;
  margin: auto 20px auto auto;
}

#burger-menu {
  display: grid;
  position: absolute;
  /* top: calc(var(--nav-height) + 2px); */
  top: 10px;
  right: 30px;
  width: 0;
  height: 0;
  background: var(--glass-color2);
  grid-template-rows: repeat(3, 33%);

  /* box shadow */
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

  gap: 1px;
  z-index: -1;

  overflow: hidden;

  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

#burger-menu.open {
  top: calc(var(--nav-height));
  width: 50%;
  height: 20vh;
}

#burger-menu #trademark {
  display: none;
}

#burger-menu .burgerItem {
  text-align: center;
  font-size: 1.5rem;
  height: 100%;
  width: 100%;

  /* vertical align */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 15px;

  background: #032e58;

  /* border top and bottom */
  border-bottom: 1px solid var(--highligh-color);

  /* box shadow */
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);

  transition: inherit;
}

#burger-menu .burgerItem:hover {
  background: #0759ac;
}

#burger-menu .burgerItem svg {
  position: relative;
  margin-right: 20px;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  transition: inherit;
}

#burger-menu .burgerItem span {
  vertical-align: middle;
}

#burger-menu .burgerItem:last-child {
  border-bottom: none;
}

#burger-menu .burgerItem a {
  text-decoration: none;
  color: var(--highligh-color);
  transition: inherit;
}

#burger-menu .burgerItem a:hover {
  background: #0759ac;
}

#hamburger svg line {
  stroke: var(--highligh-color);
  stroke-width: 5;
  stroke-linecap: round;
  stroke-dasharray: 80;
  stroke-dashoffset: 0;
}

#hamburger #line-top {
  stroke-dashoffset: var(--burger-line-top-offset);
}

#hamburger #line-mid {
  stroke-dashoffset: var(--burger-line-mid-offset);
}

#hamburger #line-bottom {
  stroke-dashoffset: var(--burger-line-bot-offset);
}

#hamburger[aria-expanded="false"] #line-top {
  --burger-line-offset: var(--burger-line-top-offset);
  animation: burger-close var(--burger-anim-1-len) forwards;
}

#hamburger[aria-expanded="false"] #line-mid {
  --burger-line-offset: var(--burger-line-mid-offset);
  animation: burger-close var(--burger-anim-1-len) forwards;
}

#hamburger[aria-expanded="false"] #line-bottom {
  --burger-line-offset: var(--burger-line-bot-offset);
  animation: burger-close var(--burger-anim-1-len) forwards;
}

#hamburger[aria-expanded="true"] #line-top {
  --burger-line-offset: var(--burger-line-top-offset);
  animation: burger-open var(--burger-anim-2-len) forwards;
  transform-origin: center;
}

#hamburger[aria-expanded="true"] #line-mid {
  --burger-line-offset: var(--burger-line-mid-offset);
  animation: burger-open var(--burger-anim-2-len) forwards;
  transform-origin: center;
}

#hamburger[aria-expanded="true"] #line-bottom {
  --burger-line-offset: var(--burger-line-bot-offset);
  animation: burger-open var(--burger-anim-2-len) forwards;
  transform-origin: center;
}

@keyframes pulse-stroke {
  0% {
    stroke-width: 5px;
  }

  50% {
    stroke-width: 15px;
  }

  100% {
    stroke-width: 5px;
  }
}

@keyframes fun-svg-twist {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* a cute svg spin */
@keyframes fun-svg-figit {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes twinkle {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

@keyframes make-it-snow {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100vh);
  }
}

/****************************************************
   *                                                  *
   *                  MEDIA QUERIES                   *
   *                                                  *
  ****************************************************/

@media screen and (max-width: 768px) {
  #navBar {
    display: none;
  }
  #hamburger {
    display: flex;
  }

  #logo {
    margin-left: 20px;
    scale: 1;
  }
}
