#interest-canvas-container {
  position: absolute;
  top: calc(100vh + var(--nav-height));
  left: 0;
  min-width: 100vw;
  /* height: calc(100% - 101vh); */
  /* max-height: calc(100% - 101vh); */
  width: 100vw;
  /* min-height: 100vh; */
  z-index: -1;
  /* test visibility */
}

#interest-canvas {
  min-width: 100vw;
  min-height: 100%;
  width: 100vw;
}
