/* vars */
:root {
  --project-card-title-underline-gradient-color1: rgb(169, 130, 251);
  --project-card-title-underline-gradient-color2: rgb(134, 103, 199);
  --project-card-title-underline-gradient-color3: rgb(99, 76, 147);
  --aurora-color-1: rgb(49, 63, 102);
  --aurora-color-2: rgb(79, 87, 156);
  --aurora-color-3: rgb(117, 120, 183);
  --aurora-color-4: rgb(157, 122, 197);
  --card-height: 350px;
  --card-width: 300px;
  --active-card-height: 60ch;
  --active-card-width: 45ch;
  --border-radius: 0.5rem;
  --color1: rgba(0, 0, 0, 1);
  --color2: rgba(0, 0, 0, 0.9);
  --color3: rgba(0, 0, 0, 0.8);
}

.project-card {
  height: var(--card-height);
  width: 100%;
  border-radius: var(--border-radius);

  transition: all 0.5s ease-in-out;

  z-index: 1;
}

.project-card.active {
  z-index: 100;
}

.project-card .project-card-container * {
  backface-visibility: hidden;
}

.project-card .project-card-container {
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);

  transition: all 0.7s ease-in-out;
  transform-style: preserve-3d;
}

.project-card .project-card-container.active {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.project-card .project-card-container::before,
.project-card .project-card-container::after {
  content: "";
  position: absolute;
  inset: -0.15rem;
  border-radius: inherit;
  /* background: conic-gradient(
    from 120deg,
    var(--aurora-color-1),
    var(--aurora-color-2),
    var(--aurora-color-3),
    var(--aurora-color-4),
    var(--aurora-color-3),
    var(--aurora-color-2),
    var(--aurora-color-1)
  ); */

  background: radial-gradient(
    circle at 50% 50%,
    var(--aurora-color-1),
    var(--aurora-color-2),
    var(--aurora-color-3),
    var(--aurora-color-4),
    var(--aurora-color-3),
    var(--aurora-color-2),
    var(--aurora-color-1)
  );

  background-size: 400% 400%;

  z-index: -1;

  animation: spin 15s ease infinite;
}

@media (max-width: 768px) {
  .project-card .project-card-container::before,
  .project-card .project-card-container::after {
    inset: -0.1rem;
  }
}

.project-card .project-card-container::after {
  filter: blur(1.5rem);
  transform: scale(0.9);
}

@media (max-width: 768px) {
  .project-card .project-card-container::after {
    filter: blur(0rem);
    transform: scale(0.9);
  }
}

.project-card .project-card-container .project-card-front {
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-card .project-card-container .project-card-front .project-details {
  height: 100%;
  width: 100%;
  padding: 10px;
  color: white;
  font-size: 1.2rem;
  /* transform: translateY(87%); */
  background: linear-gradient(var(--color3), var(--color2) 50%, var(--color1));
  transition: transform 300ms ease-in-out;
  backdrop-filter: blur(2px);

  display: grid;
  grid-template-rows: 25% 50% 25%;
  gap: 5px;
  justify-items: center;
  align-items: center;
}

.project-card .project-card-container .project-card-front .project-card-front-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  border-radius: var(--border-radius);
}

.project-card .project-card-container .project-card-front .project-card-front-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.project-card .project-card-container .project-card-front .project-details .project-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}

.project-card .project-card-container .project-card-front .project-details .project-icon svg {
  width: 50px;
  height: 50px;
  padding: 5px;
  fill: var(--link-color);
  border: 1px solid rgba(169, 130, 251, 0.8);
  border-radius: 5px;

  /* gradient */
  background: linear-gradient(to right, rgba(169, 130, 251, 0.1), rgba(169, 130, 251, 0.15), rgba(169, 130, 251, 0.1));
}

.project-card .project-card-container .project-card-front .project-details .project-title {
  grid-row: 1;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  /* align-self: flex-start; */

  background: linear-gradient(to right, var(--link-color), var(--menu-item-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.project-card .project-card-container .project-card-front .project-details .project-progress {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  display: none;
}

.project-card .project-card-container .project-card-front:hover .project-details .project-progress {
  transform: scaleX(1);
}

.project-card .project-card-container .project-card-front .project-details .project-progress-bar {
  position: relative;
  display: block;
  height: 2px;
  width: 100% !important;
  transition: transform 300ms ease-in-out;
  background: linear-gradient(
    to right,
    var(--project-card-title-underline-gradient-color1),
    var(--project-card-title-underline-gradient-color2),
    var(--project-card-title-underline-gradient-color3)
  );
}

.project-card .project-card-container .project-card-front .project-details .project-progress-text {
  display: none;
  position: absolute;
  top: -13px;
  right: 0px;
  padding: 10px;
  background: var(--project-card-title-underline-gradient-color3);
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  line-height: 0.5;
  font-size: 0.8rem;

  color: white;

  /* box shadow */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

.project-card .project-card-container .project-card-front .project-details .project-description {
  grid-row: 2;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  width: 100%;
  padding: 50px;

  /* ellipsis if too long */
  /* overflow: hidden; */
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  -webkit-box-orient: vertical;

  /* other browsers */
  line-clamp: 5;
  box-orient: vertical;
}

.project-card .project-card-container .project-card-front .project-tag-list {
  grid-row: 3;

  max-width: 100%;
  width: 200px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 1rem 0;
  position: relative;
  padding: 1.5rem 0;
  overflow: hidden;
}

.project-card .project-card-container .project-card-front .project-tag-list .tag-fade {
  pointer-events: none;
  background: linear-gradient(90deg, black, transparent 30%, transparent 70%, black);
  position: absolute;
  inset: 0;
}

.project-card .project-card-container .project-card-front .project-tag-list .tag-slider .tag-slider-inner {
  display: flex;
  width: fit-content;
  animation: tag-slider 15s linear infinite;
}

.project-card .project-card-container .project-card-front .project-tag-list .tag {
  display: flex;
  align-items: center;
  gap: 0 0.2rem;
  color: white;
  font-size: 0.9rem;
  /* background-color: var(--link-color); */
  border-radius: 10px;
  padding: 0.7rem 0.5rem;
  margin-right: 0.5rem;
  /* box-shadow: 0 0.1rem 0.2rem rgb(0 0 0 / 20%), 0 0.1rem 0.5rem rgb(0 0 0 / 30%), 0 0.2rem 1.5rem rgb(0 0 0 / 40%); */
}

.project-card .project-card-container .project-card-front .project-tag-list .tag span {
  font-size: 1.2rem;
  color: var(--link-color);
}

@media (max-width: 768px) {
  .project-card .project-card-container .project-card-front .project-tag-list .tag {
    font-size: 0.8rem;
  }

  .project-card .project-card-container .project-card-front .project-tag-list .tag:not(:first-child) {
    margin-top: -0.6ch;
  }

  .project-card .project-card-container .project-card-front .project-tag-list {
    top: 0.1ch;
    left: 0.1ch;
  }

  .project-card .project-card-container .project-card-front .project-details .project-description {
    font-size: 1.1rem;
  }
}

@keyframes spin {
  0% {
    /* --aurora-gradient: 0deg; */
    /* transform: rotate(0deg); */
    background-position: 0% 0%;
  }

  25% {
    /* --aurora-gradient: 360deg; */
    /* transform: rotate(360deg); */
    background-position: 0% 100%;
  }

  50% {
    /* --aurora-gradient: 0deg; */
    /* transform: rotate(0deg); */
    background-position: 100% 0%;
  }

  75% {
    /* --aurora-gradient: 360deg; */
    /* transform: rotate(360deg); */
    background-position: 100% 100%;
  }

  100% {
    /* --aurora-gradient: 0deg; */
    /* transform: rotate(0deg); */
    background-position: 0% 0%;
  }
}

@keyframes svg_spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes tag-slider {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
