@property --aurora-gradient {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

/* vars */
:root {
  --project-card-title-underline-gradient-color1: rgb(169, 130, 251);
  --project-card-title-underline-gradient-color2: rgb(134, 103, 199);
  --project-card-title-underline-gradient-color3: rgb(99, 76, 147);
  --aurora-color-1: rgb(49, 63, 102);
  --aurora-color-2: rgb(79, 87, 156);
  --aurora-color-3: rgb(117, 120, 183);
  --aurora-color-4: rgb(157, 122, 197);
  --card-height: 40ch;
  --card-width: calc(var(--card-height) * 3 / 4);
  --active-card-height: 60ch;
  --active-card-width: 45ch;
  --border-radius: 0.5rem;
  --color1: rgba(0, 0, 0, 1);
  --color2: rgba(0, 0, 0, 0.9);
  --color3: rgba(0, 0, 0, 0.8);
}

.project-card {
  height: var(--card-height);
  width: var(--card-width);
  border-radius: var(--border-radius);
  backface-visibility: hidden;

  perspective: 800px;

  transition: all 0.7s ease-in-out;

  z-index: 1;
}

.project-card:hover {
  cursor: pointer;
  /* transform: translateY(-10px); */
}

.project-card .project-card-container * {
  backface-visibility: hidden;
}

.project-card .project-card-container {
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);

  transition: all 0.7s ease-in-out;
  transform-style: preserve-3d;
}

.project-card .project-card-container.active {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.project-card .project-card-container::before,
.project-card .project-card-container::after {
  content: "";
  position: absolute;
  inset: -0.15rem;
  border-radius: inherit;
  background: conic-gradient(
    from var(--aurora-gradient),
    var(--aurora-color-1),
    var(--aurora-color-2),
    var(--aurora-color-3),
    var(--aurora-color-4),
    var(--aurora-color-3),
    var(--aurora-color-2),
    var(--aurora-color-1)
  );

  z-index: -1;

  animation: spin 5s linear infinite;
}

.project-card .project-card-container::before {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

.project-card .project-card-container::after {
  filter: blur(3.5rem);
  transform: scale(0.9);
}

.project-card .project-card-container .project-card-back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;

  background: linear-gradient(var(--color3), var(--color2) 20%, var(--color1));

  /* display: grid;
  grid-template-rows: 0.8fr 1fr;
  justify-items: center;
  align-items: center; */

  transform: rotateX(180deg);
}

.project-card .project-card-container .project-card-back .project-card-back-image {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.project-card .project-card-container .project-card-back .project-card-back-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.project-card .project-card-container .project-card-back .project-card-back-close-container {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  height: 25px;
  width: 25px;
  background: var(--link-color);
  border-radius: 20%;
  z-index: 100;
  transition: transform 300ms ease-in-out;
}

.project-card .project-card-container .project-card-back .project-card-back-close-container:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.project-card .project-card-container .project-card-back .project-card-back-close-container .project-card-back-close-button {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-card .project-card-container .project-card-back .project-card-back-close-container .project-card-back-close-button svg {
  height: 15px;
  width: 15px;
  fill: white;
}

.project-card .project-card-container .project-card-back .project-card-back-close-container:hover .project-card-back-close-button svg {
  /* cool svg hover effect */
  animation: svg_spin 0.5s linear infinite;
}

.project-card-back-image-lightbox {
  width: 100%;
  height: 100%;
}

.project-card .project-card-container .project-card-back .project-card-back-image-list {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.project-card .project-card-container .project-card-back .project-card-back-image-list .project-card-back-image-list-item {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.project-card .project-card-container .project-card-back .project-card-back-image-list .project-card-back-image-list-item:hover {
  cursor: pointer;

  border: 1px solid var(--link-color);
  border-radius: 5px;
}

.project-card .project-card-container .project-card-back .project-card-back-image-list .project-card-back-image-list-item:hover img {
  /* zoom in */
  transform: scale(1.1);
}

.project-card .project-card-container .project-card-back .project-card-back-image-list .project-card-back-image-list-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.project-card .project-card-container .project-card-back .project-card-back-details {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 10px;
  color: white;
  font-size: 1.2rem;

  align-self: flex-end;

  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  gap: 5px;
  justify-items: center;
  align-items: center;
  z-index: 1;
}

.project-card-back-image-overlay-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.8);

  z-index: 1000;
}

.project-card-back-image-overlay-container {
  position: relative;
  height: 75%;
  width: 75%;
  overflow: hidden;

  /* center */
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-card-back-image-overlay-close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  height: 50px;
  width: 50px;
  background: rgba(169, 130, 251, 0.5);
  border-radius: 20%;
  z-index: 100;
  transition: transform 300ms ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;
}

.project-card-back-image-overlay-close-button:hover {
  transform: scale(1.1);
  cursor: pointer;
  background: rgba(169, 130, 251, 0.8);
}

.project-card-back-image-overlay-close-button svg {
  height: 40px;
  width: 40px;
  fill: white;
}

.project-card-back-image-overlay-close-button:hover svg {
  /* cool svg hover effect */
  animation: svg_spin 0.5s linear infinite;
}

.project-card .project-card-container .project-card-front {
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-card .project-card-container .project-card-front .project-details {
  height: 100%;
  width: 100%;
  padding: 10px;
  color: white;
  font-size: 1.2rem;
  /* transform: translateY(87%); */
  background: linear-gradient(var(--color3), var(--color2) 50%, var(--color1));
  transition: transform 300ms ease-in-out;
  backdrop-filter: blur(5px);

  display: grid;
  grid-template-rows: 15ch 10ch;
  gap: 5px;
  justify-items: center;
  align-items: center;
}

.project-card .project-card-container .project-card-front .project-card-front-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  border-radius: var(--border-radius);
}

.project-card .project-card-container .project-card-front .project-card-front-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.project-card .project-card-container .project-card-front .project-details .project-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}

.project-card .project-card-container .project-card-front .project-details .project-icon svg {
  width: 50px;
  height: 50px;
  padding: 5px;
  fill: var(--link-color);
  border: 1px solid rgba(169, 130, 251, 0.8);
  border-radius: 5px;

  /* gradient */
  background: linear-gradient(to right, rgba(169, 130, 251, 0.1), rgba(169, 130, 251, 0.15), rgba(169, 130, 251, 0.1));
}

.project-card .project-card-container .project-card-front .project-details .project-title {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  /* align-self: flex-start; */

  background: linear-gradient(to right, var(--link-color), var(--menu-item-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.project-card .project-card-container .project-card-front .project-details .project-progress {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  display: none;
}

.project-card .project-card-container .project-card-front:hover .project-details .project-progress {
  transform: scaleX(1);
}

.project-card .project-card-container .project-card-front .project-details .project-progress-bar {
  position: relative;
  display: block;
  height: 2px;
  width: 100% !important;
  transition: transform 300ms ease-in-out;
  background: linear-gradient(
    to right,
    var(--project-card-title-underline-gradient-color1),
    var(--project-card-title-underline-gradient-color2),
    var(--project-card-title-underline-gradient-color3)
  );
}

.project-card .project-card-container .project-card-front .project-details .project-progress-text {
  display: none;
  position: absolute;
  top: -13px;
  right: 0px;
  padding: 10px;
  background: var(--project-card-title-underline-gradient-color3);
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  line-height: 0.5;
  font-size: 0.8rem;

  color: white;

  /* box shadow */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

.project-card .project-card-container .project-card-front .project-details .project-description {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  width: 100%;
  padding-right: 60px;
  padding-left: 60px;

  /* ellipsis if too long */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  -webkit-box-orient: vertical;

  /* other browsers */
  line-clamp: 5;
  box-orient: vertical;
}

.project-card .project-card-container .project-card-front .project-tag-list {
  position: absolute;
  top: 0.2ch;
  left: 0.2ch;
  /* width: 100%; */

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: left;
  text-align: center;

  /* width: 100%; */
  /* height: 25px; */
  color: white;
  writing-mode: vertical-lr;
  margin-bottom: 5px;
}

.project-card .project-card-container .project-card-front .project-tag-list .tag {
  font-size: 0.9rem;
  border-radius: 10px;
  height: auto;
  /* padding-right: 1.2ch;
  padding-left: 1.2ch;
  padding-top: 0.2ch;
  padding-bottom: 0.2ch; */
  padding-top: 1.2ch;
  padding-bottom: 1.2ch;
  padding-left: 0.2ch;
  padding-right: 0.2ch;

  background: var(--link-color);

  /* box shadow */
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

.project-card .project-card-container .project-card-front .project-tag-list .tag:not(:first-child) {
  margin-top: -0.8ch;
}

.project-card .project-card-container .project-card-front .project-role-list {
  position: absolute;
  bottom: 0.2ch;
  right: 0.2ch;
  /* width: 100%; */

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: left;
  text-align: center;

  /* width: 100%; */
  /* height: 25px; */
  color: white;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-bottom: 5px;
}

.project-card .project-card-container .project-card-front .project-role-list .role {
  font-size: 0.9rem;
  border-radius: 10px;
  height: auto;
  /* padding-right: 1.2ch;
  padding-left: 1.2ch;
  padding-top: 0.2ch;
  padding-bottom: 0.2ch; */
  padding-top: 1.2ch;
  padding-bottom: 1.2ch;
  padding-left: 0.2ch;
  padding-right: 0.2ch;

  background: var(--link-color);

  /* box shadow */
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

.project-card .project-card-container .project-card-front .project-role-list .role:not(:first-child) {
  margin-top: -0.8ch;
}

.project-card .project-card-container .project-card-front .project-links {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 100%;
  height: 50px;
  gap: 15px;
  padding: 10px;
}

.project-card .project-card-container .project-card-front .project-links a {
  font-size: 2rem;
}

.project-card.active {
  height: calc(var(--card-height) * 2);
  width: calc(var(--card-width) * 2);
  z-index: 100;
}

.project-card.active .project-card-container {
  transform: rotateX(180deg);
}

.project-card.active .project-card-container .project-card-back {
  z-index: 1;
}

@keyframes spin {
  0% {
    --aurora-gradient: 0deg;
  }

  100% {
    --aurora-gradient: 360deg;
  }
}

@keyframes svg_spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
